<style scoped>
  .big-icon {
    width: 5rem;
    height: 5rem;
  }
</style>

<template>
  <section class="section hero is-fullheight is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="card">
              <div class="card-content">
                <div class="has-text-centered">
                  <b-icon type="is-primary" icon="user-circle" class="big-icon" custom-size="fa-5x" />
                </div>
                <form>
                  <b-field label-for="userName" label="Usuario" custom-class="is-medium">
                    <b-input
                      id="userName"
                      v-model="userName"
                      icon="id-badge"
                      size="is-medium"
                    />
                  </b-field>
                  <b-field label-for="password" label="Contraseña" custom-class="is-medium">
                    <b-input
                      id="password"
                      v-model="password"
                      type="password"
                      password-reveal
                      icon="lock"
                      size="is-medium"
                    />
                  </b-field>
                  <b-field custom-class="is-medium">
                    <b-button type="is-primary" size="is-medium" expanded>
                      Iniciar sesión
                    </b-button>
                  </b-field>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'LoginPage'
}
</script>
